<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Titulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/static/style.css">
     <link rel="stylesheet" href="/templates/Especializacao.html">
    <link rel="stylesheet" href="/templates/Agendamento.html">
    <link rel="stylesheet" href="/templates/Contato.html">
    <link rel="stylesheet" href="/templates/Inicio.html">
    <link rel="stylesheet" href="/templates/Duvidas.html">
</head>
<body>

<div class="container-fluid" style="padding: 0">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
     <img src="/static/logo.png" alt="" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/espe">Especialização</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contato">Contatos</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/agendamento">Agendamento</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/">Início</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/duvidas">Dúvidas</a>
            </li>
          </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>
</div>

 <div class="container-fluid bannercor">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Dicas de Prevenção
                </p>
            </div>
            <div class="row serv ">
                <div class="col-sm-5">
                    <p class="serviços"> Hidrate-se; </p>
                </div>
                <div class="col"></div>
                <div class="col-sm-5">
                    <p class="serviços">Durma bem;</p>
                </div>
            </div>
            <div class="row serv">
                <div class="col-sm-5 ">
                    <p class="serviços">Atente-se à execução correta dos movimentos;</p>
                </div>
                <div class="col"></div>
                <div class="col-sm-5 ">
                    <p class="serviços">Não pule o aquecimento;</p>
                </div>
            </div>
            <div class="row serv">
                   <div class="col-sm-5 ">
                    <p class="serviços">Realize treinos para fortalecimento muscular;</p>
                </div>
                <div class="col"></div>
                <div class="col-sm-5  ">
                    <p class="serviços">Respeite seus limite;</p>
                </div>


            </div>
        </div>
    </div>
<footer class="footer">
        <div>
            <figure><img src="/static/sesi.JPG" alt="" class="imgfooter"></figure>
        </div>
        <div>
            <figure>
                <img src="/static/senai.JPG" alt="" class="imgfooter">
            </figure>
        </div>
        <div>
            <p class="pfooter">Ana Júlia Lopes Varoni</p>
        </div>
    </footer>
</body>
</html>